/* Welcome page css */
.welcome-main-container {
    background-image: url('https://img.freepik.com/premium-photo/list-icon-notebook-with-completed-todo-list-3d-render_471402-428.jpg?w=2000');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-container {
    border: 0px solid;
    border-radius: 12px;
    background-color: #F6FBF9;
    padding: 16px;
    text-align: center;
    align-self: flex-start;
    margin-left: 32px;
    width: 650px;
}

/* login css */

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://img.freepik.com/premium-photo/list-icon-notebook-with-completed-todo-list-3d-render_471402-428.jpg?w=2000');
    background-size: cover;
    background-position: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    border: 0px solid;
    border-radius: 12px;
    background-color: #F6FBF9;
    padding: 16px;
    text-align: center;
    box-shadow: 10px 10px lightblue;
}

.button {
    width: auto;
    height: 32px;
    background: #84C7AE;
    border-radius: 8px;
    border: none;
    margin-top: 12px;
    cursor: pointer;
}

.input {
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding-left: 12px;
    height: 24px;
}

.span-txt {
    color: red;
}

.todo-input {
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding-left: 12px;
    height: 24px;
    width: 100%;
}